<?xml version="1.0"?>
<SysInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemOpen>true</SystemOpen>
  <Copyright>kuibono@163.com</Copyright>
  <SalerSalaryPercent>30</SalerSalaryPercent>
  <WorkerSalaryPercent>0</WorkerSalaryPercent>
</SysInfo>